version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: my-static-site:${BUILD_NUMBER:-latest}
    container_name: my-static-site
    ports:
      - "8080:80"
